# Demo App version
IMAGE_VERSION=v1.0.0
IMAGE_NAME=ancientgear98/product-catalog
DEMO_VERSION=v1.0.0

# Product Catalog Service
PRODUCT_CATALOG_PORT=3550
PRODUCT_CATALOG_ADDR=product-catalog:${PRODUCT_CATALOG_PORT}
PRODUCT_CATALOG_DOCKERFILE=./src/product-catalog/Dockerfile

# Postgres
POSTGRES_USER=astronomy_user
POSTGRES_HOST=astronomy-db
POSTGRES_PORT=5432
POSTGRES_PASSWORD=changeit
POSTGRES_ASTRONOMY_PASSWORD=astronomy_password    # defined in src/postgresql/init.sql
POSTGRES_DB=astronomy_db

# ******************
# Dependent Services
# ******************
# Flagd
FLAGD_HOST=flagd
FLAGD_PORT=8013
FLAGD_OFREP_PORT=8016

# Dependent images
FLAGD_IMAGE=ghcr.io/open-feature/flagd:v0.14.2
POSTGRES_IMAGE=postgres:17.8
